{% extends "main.html" %}
{% block content %}
<br>
<br>
<br>
    <section id="rekomendasi" class="rekomendasi mt-10">
        <center>
        <!-- <div class="box"> -->
            <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <p>Data Projek Mahasiswa</p>
                    </header>
                    <!-- {{ mhs }} -->
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <th>No</th>
                            <!-- <th>Email</th> -->
                            <th>Nama</th>
                            <th>NIM</th>
                            <th>Semester</th>
                            <!-- <th>Whatsapp</th> -->
                            <!-- <th>Personality</th> -->
                            <th>Bahasa Pemrograman</th>
                            <!-- <th>Komunitas</th> -->
                            <!-- <th>Role Projek</th> -->
                            <th>Projek</th>
                            <th>Aksi</th>
                            <!-- <th>Link Github</th> -->
                        </thead>
                        <tbody>
                            {% for data_mhs in mhs %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <!-- <td>{{ data_mhs[1] }}</td> -->
                                <td>{{ data_mhs[2] }}</td>
                                <td>{{ data_mhs[3] }}</td>
                                <td>{{ data_mhs[4] }}</td>
                                <!-- <td>{{ data_mhs[5] }}</td> -->
                                <!-- <td>{{ data_mhs[6] }}</td> -->
                                <td>{{ data_mhs[7] }}</td>
                                <!-- <td>{{ data_mhs[8] }}</td> -->
                                <!-- <td>{{ data_mhs[9] }}</td> -->
                                <td>{{ data_mhs[10] }}</td>
                                <td>
                                    <a href="http://wa.me/{{data_mhs[5]}}" class="btn btn-outline-success" target="_blank">
                                        <i class="bi bi-whatsapp"></i>
                                    </a>
                                </td>

                                <!-- <td>{{ data_mhs[11] }}</td> -->
                                

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        <!-- </div> -->
        <a href="{{url_for('preprocessing')}}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Lakukan Preprocessing</span>
            <i class="bi bi-arrow-right"></i>
        </a>
        </center>
    </section>
    
{% endblock %}
    