<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Fitur</h2>
        <p>Fitur pada sistem kami</p>
      </header>

      <div class="row gy-4" data-aos="fade-left">

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">Sistem Rekomendasi Komunitas Akademik</h3>
            <!-- <div class="price"><sup>$</sup>0<span> / mo</span></div> -->
            <img src="static/img/pricing-free.png" class="img-fluid" alt="">
            <ul>
              <li>Merekomendasikan komunitas berdasarkan minta bakat mahasiswa</li>
            </ul>
            <a href="#" class="btn-buy">Coba Fitur</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <span class="featured">Featured</span>
            <h3 style="color: #65c600;">Sistem Rekomendasi Anggota <br>Proyek Komunitas</h3>
            <img src="static/img/pricing-starter.png" class="img-fluid" alt="">
            <ul>
              <li>Memberikan rekomendasi mahasiswa yang sesuai dengan projek yang diinputkan</li>
            </ul>
            <a href="#" class="btn-buy">Coba Fitur</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3 style="color: #ff901c;">SPK Anggota Komunitas Terbaik</h3>
            <img src="static/img/pricing-business.png" class="img-fluid" alt="">
            <ul>
              <li>Sebagai penilaian anggota komunitas yang ikut serta dan aktif dalam kegiatan komuitas</li>
            </ul>
            <a href="#" class="btn-buy">Coba Fitur</a>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3 style="color: #ff0071;">Ultimate Plan</h3>
            <div class="price"><sup>$</sup>49<span> / mo</span></div>
            <img src="static/img/pricing-ultimate.png" class="img-fluid" alt="">
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div> -->

      </div>

    </div>

  </section>