{% extends "main.html" %} {% block content %}
<br />
<br />
<br />
<section id="rekomendasi" class="rekomendasi mt-10">
  <center>
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>Hasil Perhitungan TFIDF</p>
      </header>
      <table id="example2" class="table table-bordered table-striped">
        <thead>
          <th>Index</th>
          <th>Nama</th>
        </thead>
        <tbody>
          {% for index, row in df.iterrows() %}
          <tr>
            <td>{{ index }}</td>
            <td>{{ row['Nama'] }}</td>
            <td>
              <a
                href="{{ url_for('tfidf_detail', index=index) }}"
                class="btn btn-primary"
                >Detail</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </center>
</section>
{% endblock %}
