<section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Tujuan Kami :</h2>
        <p>Sebagai Wadah bagi Komunitas Mahasiswa TI</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="static/img/values-1.png" class="img-fluid" alt="">
            <h3>Mengoptimalkan peran mahasiswa</h3>
            <p>Memudahkan mahasiswa untuk melakukan knowledge sharing tidak hanya pada perkuliahan saja</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="static/img/values-2.png" class="img-fluid" alt="">
            <h3>Menerbitkan mahasiswa yang siap dalam dunia kerja</h3>
            <p>Melalui pengalaman proyek, mahasiswa bisa mendapatkan pengalaman sebelum terjun ke dunia kerja</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="static/img/values-3.png" class="img-fluid" alt="">
            <h3>Memberikan pengalaman bagi mahasiswa untuk terus berkembang</h3>
            <p>Melalui komunitas dan proyek, mahasiswa bisa mengembangkan bakat minatnya</p>
          </div>
        </div>

      </div>

    </div>

  </section>